:root{
    --M-Green:#a3bfa2;
    --M-Blue: #546a76;
}
body{
    margin: 2px;
    background-image: 
    linear-gradient(
        var(--M-Blue)80%,
        var(--M-Green)50%
    );
    background-attachment: fixed;
    
    text-align:left;
    font-family: 'Roboto', sans-serif, color black;
}

.wrapper {display: flex;}

.btn1 {--txt: "btn1";}
.btn2 {--txt: "btn2";}
.btn3 {--txt: "btn3"}

.CFM {--txt: "CFM"}
#container{
    display: flex;
    position: relative;
}

.btn1{
    all:unset;
    cursor:pointer;
    transform: scale(0.25);
    margin: -90px -90px;
    transition: transform.3s;
}
.btn1:hover{
    transform: scale(0.3);
}
.btn1:active{
    transform:scale(0.15);
    transition: transform.15s;
}


.btn2{
   all:unset;
   transform: scale(0.25);
   transition: transform.15s;
}
.btn2:hover{
    transform: scale(0.3);
}
.btn2:active{
    transform: scale(0.2);
}





